<.flash_group flash={@flash} />

<div>
  <video id="localVideo" autoplay muted width="300" height="200"></video>
  <video id="remoteVideo" autoplay playsinline style="display:block; background: #000;"></video>

  <button id="connect">Connect</button>
  <button id="call">Call</button>
  <button id="hangup">Hangup</button>
</div>
